@import "@fontsource/plus-jakarta-sans";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 100% 98%;
    /* #f8f9ff */
    --foreground: 213 63% 11%;
    /* #0b1c30 */
    --card: 0 0% 100%;
    /* #ffffff */
    --card-foreground: 213 63% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 213 63% 11%;

    --primary: 221 100% 22%;
    /* #00236f */
    --primary-foreground: 0 0% 100%;

    --secondary: 175 100% 21%;
    /* #006a61 */
    --secondary-foreground: 0 0% 100%;

    --muted: 220 54% 96%;
    /* #f1f5f9 / surface-container-low */
    --muted-foreground: 227 9% 49%;
    /* #757682 */

    --accent: 216 100% 90%;
    /* #dce1ff */
    --accent-foreground: 222 100% 15%;
    /* #00164e */

    --destructive: 356 75% 42%;
    /* #ba1a1a */
    --destructive-foreground: 0 0% 100%;

    --border: 240 28% 80%;
    /* #c5c5d3 */
    --input: 240 28% 80%;
    --ring: 221 100% 22%;
    /* primary */

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "tnum" 1;
    /* Enable tabular numerals */
  }
}